body{
    margin: 0;
    background: darkgray;
    overflow: hidden;
}

h1{
    text-align: center;
}

h5{
    font-size: 1.5em;
    text-decoration: underline;
}

.contentMessageLog{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #000;
    margin-top: 5rem;
}

p{
    font-size: 18px;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxContentLog{
    width: 20rem;
    height: 40rem;
    border: 4px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

span{
    font-size: 20px;
}

button{
    border: none;
    border-radius: 5px;
    padding: 0.25rem;
    margin: 1rem;
    cursor: pointer;
}

button:hover{
    filter: brightness(80%);
    box-shadow: 0px 0px 2px 1px #3cfa16be;
}

#myCanvas{
    background: rgba(121, 119, 119, 0.452);
}

#networkCanvas{
    background: #000;
}